<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <div class="ion-padding-top ion-text-center">
    <img src="../../assets/img/none.png" alt="avatar">
    <h2>{{username}}</h2>

    <ion-list inset>
      <ion-item (click)="updatePicture()">Update Picture</ion-item>
      <ion-item (click)="changeUsername()">Change Username</ion-item>
      <ion-item (click)="changePassword()">Change Password</ion-item>
      <ion-item (click)="support()">Support</ion-item>
      <ion-item (click)="logout()">Logout</ion-item>
    </ion-list>
  </div>
</ion-card>
  <div *ngIf="isGoogleLogin">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center"><b>{{user.displayName}}</b></ion-card-title>

      </ion-card-header>

      <ion-card-content>
        <img [src]="user.photoURL" style="border-radius: 1px;">
        <ion-item>
          <ion-label>email:</ion-label>
          <span>{{user.email}}</span>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" (click)="logout()" color="danger" *ngIf="isGoogleLogin">
      Log Out
    </ion-button>
  </div>
</ion-content>