ion-menu ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;

  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

/* Remove background transitions for switching themes */
ion-menu ion-item {
  --transition: none;
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

/*
 * Material Design Menu
*/
ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-list-header {
  padding-left: 18px;
  padding-right: 18px;

  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 450;
}

ion-menu.md ion-item {
  --padding-start: 18px;

  margin-right: 10px;

  border-radius: 0 50px 50px 0;

  font-weight: 500;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-list-header,
ion-menu.md ion-item ion-icon {
  color: var(--ion-color-step-650, #5f6368);
}

ion-menu.md ion-list:not(:last-of-type) {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}


/*
 * iOS Menu
*/
ion-menu.ios ion-list-header {
  padding-left: 16px;
  padding-right: 16px;

  margin-bottom: 8px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}
.menu-header{
  height: 180px;
  width: 360px;
  background-color: #167ba3;
  background: linear-gradient(90deg, #9ed5e6 0%, #d36949 100%);
  box-shadow: 0px 1px 10px rgba(240, 33, 33, 0.5);
  transform: rotate(-15deg);
  border-radius: 10px 10px 10px 50px;
  margin-left: -18px;
  margin-top: -60px;
  margin-bottom: 60px;
}
.header-content{
      position:absolute;
      top: 30px;
      left:15px;
      display: flex;
      align-items:center;
  img{
      width: 80px ;
      height: 80px ;
      border-radius: 50%;
      border: 7px solid #44a7e0;
      margin-right: 14px;
  }
  h2{
      font-weight: 300;
      color: rgb(167, 7, 7);

  }
  p{
      font-size: 12px ;
      color: rgb(13, 204, 238);
      font-weight: 200;
      letter-spacing: 0.4px;
  }
}
.split-pane-visible > ion-menu {
  max-width: 170px!important;
}

.action-button{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    ion-button{
          text-transform: capitalize;
          font-weight: 300;
          background: #d8462c;
          border-radius:7px;
          box-shadow: none;
          box-shadow: none;
    }

    ion-icon{
        margin-right: 10px;
    }
}

.menu-item{
      margin: 0px;

      ion-icon{
          margin-right: 20px;
          color: #86979f;
      }
      ion-item{
          padding-left: 20px;
          margin-bottom: 10px;
      }
}


.devider{
  --background:#375ab4;
  --color:#5e7ccc;
}
#cool-button-div {

  margin-left: 10vh;

}
.menu-button{
  margin-left: 10vh;
}
.menu-button1{
  margin-left: 11vh;
}

ion-menu {
  --width: 80%;
}

.icon{
  margin-left: 7vh ;
}
.icon1{
  margin-left:1vh;
}

.main-list {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -18px;
  margin-top: -80px;

  ion-list {
    width: 100%;

    ion-item {
      font-size: 18px;
      font-weight: 100;
    }

    .selected {
      border-left: 5px solid var(--ion-color-primary);
      color: var(--ion-color-primary);
    }
  }

  ion-button {
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-size: 24px;
    --ripple-color: transparent;
  }
}
.footer{
  position: relative;
  align-items: center;
  font-family: 'dancingscript';
  font-size: 10px !important;
 
}

.deep{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  position: relative;
}