<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/barber"></ion-back-button>
    </ion-buttons>
    <ion-title padding="center">Register </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <div class="class">
      <ion-card>
        <ion-card-header color="black" class="card-header">Add Your Profile</ion-card-header>

        <ion-card-content>

          <ion-avatar class="avatar">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaYfUznTFPSvDja6k-xNvI5io9Pi1mv5s47A&usqp=CAU">
          </ion-avatar>
          <div id="cool-button-div">
            <button shape="round" class="button button-block button-calm">
              <ion-icon name="camera"></ion-icon>
            </button>
          </div>
          <ion-item-divider></ion-item-divider>
          <ion-item>
            <ion-input placeholder="Your name?">Name:</ion-input>
          </ion-item>


          <ion-item>
            <ion-input placeholder="What you do?">Services:</ion-input>
          </ion-item>


          <ion-item>
            <ion-input placeholder="Where can you be found?">Location:</ion-input>
          </ion-item>

          <ion-item>
            <ion-input placeholder="Phone or Tell...">Phone:</ion-input>
          </ion-item>

        </ion-card-content>

      </ion-card>
    </div>
  </form>
</ion-content>