.class{
    width: 90%;
    margin: auto;
    align-items: center;
    align-content: center;

    
   }

.avatar{
    margin: auto;
}

#cool-button-div {

    position: relative;
    width:200px;
    margin:auto;
    margin-top:-3vh;
    margin-left: 23vh;

}

.card-header{
    font-weight: bold;
    margin-left: 8vh;
}