<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825605274413-6ukhtkub7lcel8ff5auvvgfd0sq0fubd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825605274413-6ukhtkub7lcel8ff5auvvgfd0sq0fubd</string>
	<key>API_KEY</key>
	<string>AIzaSyAVAJZ_E68kKOEKRnhko9GhrCDzO55A4lk</string>
	<key>GCM_SENDER_ID</key>
	<string>825605274413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acuity.barber</string>
	<key>PROJECT_ID</key>
	<string>barber-3b0ea</string>
	<key>STORAGE_BUCKET</key>
	<string>barber-3b0ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825605274413:ios:8425b8e854f2f255f571a4</string>
	<key>DATABASE_URL</key>
	<string>https://barber-3b0ea-default-rtdb.firebaseio.com</string>
</dict>
</plist>